NEXT_PUBLIC_SUPABASE_URL=https://algwytnelmnjhkmonxro.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
GOCARDLESS_ENVIRONMENT=sandbox
GOCARDLESS_ACCESS_TOKEN=
GOCARDLESS_WEBHOOK_SECRET=
STRIPE_WEBHOOK_SECRET=
PAYMENT_EVENTS_INGEST_KEY=
